<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>JAMM Gaming</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <a href="/"><img class="logo-login" src="images/JAMM-Gaming.png" alt="Logo JAMM"> </a>
                <input type="text" class="buscador" placeholder="Buscar">
                <button type="button"><a href="#"><i class="fa fa-search"></i></a> </button>
                <a href="mailto:JAMM@JAMM.com"><i class="fa fa-fw fa-envelope"></i></a>
                <a href="/productCart"><i class="fas fa-heart"></i></a>
                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a> 
                <a href="/login"><i class="fa fa-fw fa-user"></i></a>
            </div>
               
            <nav>
                <div class="categoria">
                    <form action="" method="GET">
                        <label>Categoría</label>
                        <select name="categorías" id="">
                            <option value="Todas">Todas</option>
                            <option value="Video">Gaming</option>
                            <option value="Audio">Accesorios</option>
                            <option value="Dispositivos">Dispositivos</option>
                        </select>
                    </form>
                </div>
            </nav>   
        </header>          
        
        <section class="banner">
            <img src="images/Banner.jpg" alt="Banner de ofertas">
        </section>
        
        <main>
            <section class="last-visit">
                <h3 class="categorias">Gaming</h3>
                <div class="products">
                    <article class="objeto">
                        <div>
                        <img src="images/Auris.jpg" alt="Auris" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Auris piola</h4>
                        </div>
                    </div>
                    </article>
                    <article class="objeto">
                        <a href="/productDetail"><img src="images/Play.jpg" alt="Play" class="product_img"></a>
                        <div class="main-article">
                            <h4 class="description">PlayStation5</h4>
                        </div>
                    </article>
                    <article class="objeto">
                        <img src="images/Joystick.jpg" alt="Joystick" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Mando PS5</h4>
                        </div>
                    </article>
                    <article class="objeto">
                        <img src="images/JuegoSpiderMan.jpg" alt="JuegoSpiderMan" class="product_img">
                        <div class="main-article">
                            <h4 class="description">SpiderMan Miles Morales</h4>
                        </div>
                    </article>
                </div>
            </section>
            <section class="offers">
                <h3 class="categorias">Accesorios</h3>
                <div class="products">
                    <article class="objeto">
                        <img src="images/Teclado.jpg" alt="Teclado" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Teclado XRT20</h4>
                        </div>
                    </article>
                    <article class="objeto">
                        <img src="images/Silla.jpg" alt="Silla" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Silla Gaming Champ</h4>
                        </div>
                    </article>
                    <article class="objeto">
                        <img src="images/Mouse.jpg" alt="Mouse" class="product_img">
                        <div class="main-article">
                        <h4 class="description">Mouse Logitech 400</h4>
                        </div>
                    </article>
                    <article class="objeto">
                        <img src="images/Mousepad.jpg" alt="Mousepad" class="product_img">
                        <div class="main-article">
                            <h4 class="description">MousePad Alien XR</h4>
                        </div>
                    </article>
                </div>  
            </section>

            <section class="offers">
                <h3 class="categorias">Dispositivos</h3>
                <div class="products">
                    <article class="objeto">
                        <img src="images/Tablet.jpg" alt="Tablet" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Tablet Samsung X10</h4>
                        </div>
                    </article>
                    <article class="objeto">
                        <img src="images/Notebook.jpg" alt="Notebook" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Notebook Lenovo 809</h4>
                        </div>
                    </article>
                    <article class="objeto">
                        <img src="images/Celular.jpg" alt="Celular" class="product_img">
                        <div class="main-article">
                        <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article class="objeto">
                        <img src="images/TabletPlegable.jpg" alt="TabletPlegable" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Tablet LG Flex</h4>
                        </div>
                    </article>
                </div>  
            </section>
        </main>
        
        <footer>
            <div class="primero">
                <i class="fas fa-map-marker-alt"></i>
                <h5>Locales</h5>
                <p>Av Cabildo 1460</p>
            </div>
            <div class="segundo">
                <i class="fas fa-credit-card"></i>
                <h5>Formas de pago</h5>
                <p>Tarjeta - Efectivo - Transferencia</p>
            </div>
            <div class="tercero">
                <i class="fas fa-id-badge"></i>
                <h5>¿Quiénes somos?</h5>            
            </div>
            <div class="cuarto">
                <i class="fas fa-question-circle"></i>
                <h5>Ayuda</h5>
            </div>
            <div class="quinto">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>             
            </div>
        </footer>        
    </body>
</html>