<header role="banner" class="nav-header nav-header-lite">
    <div class="nav-bounds">
        <a class="nav-logo" href="https://www.mercadolibre.com.ar">Mercado Libre</a>
        <div class="nav-header-menu-wrapper">
            <nav id="nav-header-menu" class="nav-header-menu">
                <a href="http://ayuda.mercadolibre.com.ar/ayuda" class="option-help" rel="nofollow" aria-labelledby="help-text"><i class="nav-icon-help"><span id="help-text">Ayuda</span></i></a>
            </nav>
        </div>
    </div>
</header>
<main role="main" id="root-app">
    <div class="email_nickname_view container"> 
        <div class="wrap">
            <div class="main">
                <div class="center-card__billboard"></div>
                <div class="andes-card andes-card--flat andes-card--default center-card__body andes-card--padding-default">
                    <div class="center-card__header"><h1 class="center-card__title">¡Hola! Ingresá tu teléfono, e‑mail o usuario</h1></div>
                    <form class="login-form" action="/jms/mla/lgz/msl/login/H4sIAAAAAAAEAzWOwQrDIBBE_2XOktw99kdkG1cjXWtYN0gJ-fcipcd5DG_mgrRc3sE-B8MjcqJTDA6HkKWmNZQIjypw6MX4H2lWSKmysXb4a3oyxwenptOUSDrDgU7bQ5I24H9TcMgNHrvZ0f26jjGWyrpRbFKeysvW6kIKB-VcurHyfGB6Mm6HRN2CKW0v-MnuL5bhxczCAAAA/user" method="POST" novalidate="" id="login_user_form">
                    <div class="login-form__row">
                        <div class="login-form__input">
                            <label class="andes-form-control andes-form-control--textfield andes-form-control--default login-form__input--email">
                                <span class="andes-form-control__label">Teléfono, e-mail o usuario</span>
                                <div class="andes-form-control__control">
                                    <input type="email" id="user_id" name="user_id" value="" autocomplete="on" autocapitalize="none" spellcheck="false" autocorrect="off" suggestions="[object Object],[object Object],[object Object],[object Object]" autofocus="" rows="1" class="andes-form-control__field" maxlength="120" aria-invalid="false" aria-describedby="user_id-message"></div>
                                    <div class="andes-form-control__bottom">
                                        <span id="user_id-message" class="andes-form-control__message">
                                            <div class="input-error"></div>
                                        </span>
                                </div>
                            </label>
                            </div>
                        <div class="recaptcha-container"><div><div id="g-recaptcha" class="g-recaptcha" style="transform:scale(0.89);transform-origin:0 0"></div>
                        </div>
                        <div class="input-error"></div>
                        </div>
                        </div>
                    <div class="login-form__actions">
                        <button type="submit" class="andes-button andes-button--large andes-button--loud andes-button--full-width">
                            <span class="andes-button__content">Continuar
                            </span>
                        </button>

                    <a role="button" href="https://registration.mercadolibre.com.ar/registration?confirmation_url=https%3A%2F%2Fwww.mercadolibre.com.ar" class="andes-button andes-button--large andes-button--transparent andes-button--full-width" id="registration-link">
                    
                    <span class="andes-button__content">Crear cuenta</span>
                    </a>
                    </div>
                    </form>
        <a href="https://www.mercadolibre.com.ar/ayuda/20478" class="andes-card__footer andes-card__footer--link andes-card__footer--border">Necesito ayuda para ingresar<!-- --> 
        </a>
        </div>
        </div>
        </div>
        <div class="recaptcha-terms__container">Protegido por reCAPTCHA
            <span class="recaptcha-terms__links">- 
                <a href="https://policies.google.com/privacy?hl=es-419">Privacidad<!-- --> </a>- 
                <a href="https://policies.google.com/terms?hl=es-419">Condiciones</a>
            </span>
        </div>
</div>
</main>

<footer class="login-footer">
    <div>
        <a class="login-footer_link" href="https://www.mercadolibre.com.ar/privacidad" target="_blank">Cómo cuidamos tu privacidad 
            <span>(abrirá una nueva ventana)</span>
        </a>
    </div>
    <div class="login-footer_copyright">Copyright © 1999-2021 MercadoLibre S.R.L.</div>
</footer>

</body>
</html>