<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head" , {title:"Registrate"}) %>

<body>

    <header class="header-login">
        <div>
            <a href="/"> <img src="/images/JAMM-Gaming.png" class="logo-login"></a>
           
        </div>
          
    </header>
<br>
    <div class="contenedor-login">
    <form action="/" method="GET" class="create-form">
        <div class="control-formulario">
            <label>¡Contanos quién sos!</label>
        </div>
        <div class="control-formulario">
            <label>Nombre y apellido:</label>
            <input type="text" name="nombreapellido" placeholder="Juan Pérez" class="control">
        </div> 
        <div class="control-formulario">
            <label>Email:</label>
            <input type="email" name="mail" placeholder="juan@hotmail.com" class="control">
        </div> 
        <div class="control-formulario">
            <label>Contraseña:</label>
            <input type="password" name="contraseña" placeholder="Contraseña" class="control">
        </div>   
        <div class="control-formulario">
            <label>Confirmar contraseña:</label>
            <input type="password" name="contraseña" placeholder="Contraseña" class="control">
        </div>   

        <div class="control-formulario">  

        <button type="submit" class="boton-formulario">Registrarme</button>
        
        </div>
    </form>
    </div>

    </section>
</body>
</html>