<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head" , {title:"Logueate"}) %>

<body>

    <header class="header-login">
        <div>
            <a href="/"> <img src="/images/JAMM-Gaming.png" class="logo-login"></a>
        </div>
          
    </header>
<br>
    <div class="contenedor-login">
    <form action="/" method="GET" class="create-form">
        <div class="control-formulario">
            <label>¡Recordanos quién sos!</label>
        </div>
        <div class="control-formulario">
            <label>Usuario o email:</label>
            <input type="text" name="usuario" placeholder="Usuario o mail" class="control">

            <% if(locals.errors && errors.email) { %>
            <div class="text-danger">
                <%= errors.email.msg %>
            </div>
            <% } %>

        </div> 
        <div class="control-formulario">
            <label>Contraseña:</label>
            <input type="password" name="contraseña" placeholder="Contraseña" class="control">
        </div>   

        <div class="control-formulario">
            <label>Recordarme</label>
            <input type="checkbox" name="recordarUsuario">
        </div>  
        
        <div class="control-formulario">  
        <button type="reset" class="boton-formulario">Cancelar</button>
        <button type="submit" class="boton-formulario">Continuar</button>
        
        </div>

        <div class="control-formulario">
       <a href="#">Olvidé mi contraseña</a>
    </div>    

    <div class="control-formulario">
        <a href="/register">Crear usuario</a>
     </div>    

    </form>
    </div>

    </section>
</body>
</html>